<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
    <!-- Latest compiled and minified CSS of Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">

  </head>

  <body>
    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please Login</h2>
        <label for="inputEmail" class="sr-only label">Username</label>
          <input type="text" id="inputEmail" class="form-control" name="username" value="{{username}}" placeholder="Username" required autofocus>
              <p class="error">
              </p>
        <label for="inputPassword" class="sr-only label">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" value="" required>
              <p class="error">
                {{login_error}}
              </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

    </div> <!-- /container -->
  </body>

</html>
